<h2>Welcome!</h2>
<div class="content">
  <div class="search">
    <input
      type="text"
      placeholder="Lets find posts..."
      [formControl]="findPost"
      class="search__input"
    />
    <fa-icon [icon]="faSearch"></fa-icon>
    <button mat-raised-button (click)="openDialog()" class="create__post">
      Create your post
    </button>
  </div>
  <div [ngSwitch]="content">
    <ng-container *ngSwitchDefault>
      <ul>
        <cdk-virtual-scroll-viewport appendOnly itemSize="100">
          <ng-container *cdkVirtualFor="let post of posts">
            <li>
              <h3>
                {{ post.name }} {{ post.surname }}
                <span class="date">{{
                  post.post.time | date : "fullDate"
                }}</span>
              </h3>
              <p class="post__text">{{ post.post.text }}</p>
              <div class="actions">
                <div class="likes">
                  <fa-icon
                    [class.liked]="post.post.liked"
                    [icon]="faThumbsUp"
                    (click)="onLike(post.post)"
                  ></fa-icon>
                  <p class="amount">{{ post.post.likes }}</p>
                </div>
                <div class="comments">
                  <fa-icon
                    [icon]="faComment"
                    (click)="onCommentClick(post.post)"
                  ></fa-icon>
                  <p class="amount">{{ post.post.comments.length }}</p>
                </div>
              </div>
              <div class="comments" [class.hidden]="!post.post.commentsIsOpen">
                <ul>
                  <ng-container *ngFor="let comment of post.post.comments">
                    <li>
                      <p class="author">{{ comment.name }}</p>
                      <p class="comment">{{ comment.text }}</p>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="post.commentInputIsShown">
                    <input
                      type="text"
                      [formControl]="comment"
                      [class.errorInput]="comment.errors?.['emptyField']"
                      placeholder="Start typing..."
                    />
                    <p *ngIf="comment.errors?.['emptyField']" class="error">
                      Type Something
                    </p></ng-container
                  >
                </ul>
                <button
                  mat-raised-button
                  (click)="onLeaveComment(post)"
                  [disabled]="comment.errors?.['emptyField']"
                >
                  Leave a comment
                </button>
              </div>
            </li>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'searchResultsField'">
      <ul *ngFor="let result of searchResults" class="search__field">
        <li>
          <p>
            <span class="name">{{ result.name }} {{ result.surname }}</span>
            said:
            <span class="post">
              {{ result.post.text }}
              <span class="date">({{ result.post.time | date }})</span>
            </span>
          </p>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'noResultsFound'">
      <p class="no__results">No Results Found</p>
    </ng-container>
  </div>
</div>
